body {
    background: transparent url('/ressources/assets/images/blurred-background.jpg') 0% 15% no-repeat padding-box;
    background-attachment: fixed;
    color: white;
}

a {
    text-decoration: none !important;
}

a:hover {
    color: initial !important;
}


/* Classes */

.app-image {
    height: 7rem;
}

.app-icon {
    width: 7rem;
    height: 7rem;
    margin: 0.5rem;
}

.app-icon .app-text {
    color: #ffffff;
    background-color: #0e0e0e87;
    position: relative;
    transform: translateY(-100%);
    font-size: 0.75rem;
}

.line {
    background-color: white;
    height: 1px;
    width: 100%;
}

.ask-tile {
    text-align: center;
    color: whitesmoke;
    background-color: rgba(240, 240, 250, 0.3);
}

.reveal {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    top: 0;
    height: 100%;
    height: 0;
    transition: height 1s, visibility 0.7s;
}

.reveal-parent {
    position: relative;
}

.reveal-parent:hover .reveal {
    visibility: visible;
    z-index: 3;
    height: 100%;
}

.helpTile {
    font-size: 2.75rem;
    margin: 0.3rem;
    padding: 1rem;
    width: 8.5rem;
    height: 8.5rem;
    color: white;
    transition: font-size 0.5s;
}

.helpTile:hover {
    font-size: 3.5rem;
    color: white !important;
}


/* Id */

#demandes {
    width: 20%;
}

#aide {
    width: 20%;
}

#share {
    background: linear-gradient(to bottom right, #16A085, #20d4b0);
}

#docs {
    background: linear-gradient(to bottom right, #2980BA, #329de4);
}

#help {
    background: linear-gradient(to bottom right, #F39E12, #e79e29);
}

#appCenter {
    background: linear-gradient(to bottom right, #C13A2B, #e64c3b);
}