body {
    background: transparent url('/ressources/assets/images/login/technology-board.png') 0% 15% no-repeat padding-box;
    background-attachment: fixed;
    color: white;
}


/* Classes */

.btn {
    box-shadow: 1px 3px 3px #00000066;
}

.rounder {
    border-radius: 15px;
}